body {
    font-family: 'Arial', sans-serif;
    background-color: #1e1e2d;
    color: #e1e1e1;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel {
    padding: 10vh;
    border: 1px solid #8a79a6;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(142, 121, 166, 0.5);
    background-color: #2e2e3f;
    width: 300px;
    text-align: center;
}

input {
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #3e3e4f;
    color: #fff;
    width: 100%;
    margin-bottom: 10px;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #5e5e6f;
    color: #fff;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #8a79a6;
}

input:focus {
    outline: none;
    border: 1px solid #8a79a6;
    box-shadow: inset 0 0 3px #8a79a6, 0 0 3px #8a79a6;
}

.error-message {
    background-color: #8a79a6;
    color: #ffffff;
    border: 1px solid #8a79a6;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
}

.disabled-button {
    background-color: #ddd;
    color: #aaa;
    cursor: not-allowed;
}
