.extended-panel {
    height: 80vh;
    border: 1px solid #8a79a6;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(142, 121, 166, 0.5);
    background-color: #2e2e3f;
    width: 140vh;
    text-align: center;
    display: flex;
}

.left-container {
    flex: 0.3;
    display: flex;
    border-right: 3px solid #8b76a9;
    flex-direction: column;
}

input {
    height: 20px;
    background-color: #3e3e4f;
    color: #fff;
    width: 70%;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.right-container {
    flex: 0.7;
    background-color: #2a2a3f;
}

.sub-container {
    flex: 0.4;
}

.name-container {
    flex: 0.2;
}

.image-container {

}

@media (max-width: 200px) and (min-width: 200px) {
    .image-container img {
        width: 100%;
        height: auto;
    }
}

.description-container {

}

.square-container {
    position: absolute;
    top: 50%;
    right: -5%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 10;
}

.square {
    width: 50px;
    height: 50px;
    background-color: #8a79a6;
    border: 2px solid #5e5e6f;
}

.square:nth-child(1) {
    background-color: #705882;
}

.square:nth-child(2) {
    background-color: #9069a2;
}

.square:nth-child(3) {
    background-color: #b59ac2;
}


