.extended-panel {
    height: 80vh;
    border: 1px solid #8a79a6;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(142, 121, 166, 0.5);
    background-color: #2e2e3f;
    width: 140vh;
    text-align: center;
    display: flex;
}

.left-container {
    flex: 0.3;
    display: flex;
    border-right: 3px solid #8b76a9;
    flex-direction: column;
}

input {
    height: 20px;
    background-color: #3e3e4f;
    color: #fff;
    width: 70%;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.sub-container {
    flex: 0.4;
}

.name-container {
    flex: 0.2;
}

.image-container {

}

@media (max-width: 200px) and (min-width: 200px) {
    .image-container img {
        width: 100%;
        height: auto;
    }
}

.description-container {
}

.right-container {
    flex: 0.7;
    background-color: #2a2a3f;
    flex-direction: column;
    display: flex;
}

@keyframes neonPulse {
    0% {
        text-shadow: 0 0 5px #b0c4de, 0 0 10px #b0c4de, 0 0 15px #dcdcdc, 0 0 20px #dcdcdc, 0 0 25px #b0c4de, 0 0 30px #dcdcdc, 0 0 35px #dcdcdc;
    }
    50% {
        text-shadow: 0 0 7px #dcdcdc, 0 0 15px #dcdcdc, 0 0 30px #b0c4de, 0 0 40px #b0c4de, 0 0 50px #dcdcdc, 0 0 60px #b0c4de, 0 0 70px #b0c4de;
    }
    100% {
        text-shadow: 0 0 5px #b0c4de, 0 0 10px #b0c4de, 0 0 15px #dcdcdc, 0 0 20px #dcdcdc, 0 0 25px #b0c4de, 0 0 30px #dcdcdc, 0 0 35px #dcdcdc;
    }
}

.keys-title {
    flex: 0.3;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid #8b76a9;
    color: #dcdcdc;
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Orbitron', sans-serif;
    text-shadow: 0 0 5px #b0c4de, 0 0 10px #b0c4de, 0 0 15px #dcdcdc, 0 0 20px #dcdcdc, 0 0 25px #b0c4de, 0 0 30px #dcdcdc, 0 0 35px #dcdcdc;
    animation: neonPulse 1.5s infinite alternate;
}

.keys-table {
    flex: 1;
    margin: 20px;
    overflow: auto;
}

.table-row {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    border-bottom: 1px solid #8a79a6;
}

.table-header {
    font-weight: bold;
}

.add-key-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-top: 3px solid #8b76a9;
}

.add-key-button {
    padding: 0.5rem 1rem;
    color: #dcdcdc;
    background-color: #3e3e4f;
    border: 1px solid #8a79a6;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-key-button:hover {
    background-color: #8b76a9;
}






